.Qcoronaviruses-wrapper{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 12.32px 3.68px rgba(36, 60, 130, 0.15);
    margin: 30px 0px;
    padding: 25px;
    text-align: left;
    .Qcoronaviruses-tittle{
        h4{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .Qcoronaviruses-Accordion{
        .MuiAccordion-root{
            margin-bottom: 5px;
            box-shadow: none !important;
            .MuiAccordionSummary-root{
                border: 1px solid #b5babe;
                .MuiAccordionSummary-content{
                    margin: 8px 0;
                    p{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}